/* sigmastyle.css */



html, body {
	width: 100%; 
	height: 100%;}


body {
	display: flex; 
	flex-direction: column;
	align-items: center;
	margin: 0 10 0 0 ;}

a {
	text-decoration: none; 
	color: grey;}

a:hover {
	background-color: lightgrey; }


/* rules for input.html*/

.maindiv {
	width: 99%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.megainput {
	background-color: transparent;
	border: 0px solid; ;
	border-bottom: 1px solid grey;
	margin-bottom: 20px;
	flex: 0 1 70px;
	width: 90%;
	font-size: 30px;
	text-align: center;
}




