/* sigmastyle.css */

 

html, body {width: 100%; height: 100%;}


body {display: flex; justify-content: center; align-items: center;}

main {border: 1px solid black;
		flex: 0 1 600px;}

.buffer {border: 1px solid pink;
			flex: 1	;}


