<!-- base.html --> 


<!DOCTYPE html5>

<html>

<head>
	<link rel="stylesheet" type="text/css" href="static/sigmastyle.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
 	<h1>{{ session['user']}}</h1>
	<div class="buffer"></div>	
	<main>
	{% block main %}
		<a href="/login"><h2>Login</h2></a>
		<a href="/inputurl"><h2>Input</h2></a>
		<a href="/viewurl"><h2>Search</h2></a>

	{% endblock %}
	</main>

	<div class="buffer"></div>

</body>
</html>