<!DOCTYPE html>
<html>
<!-- base.html --> 

<head>
	<meta charset="utf-8" />
	<!--Local css -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sigmastyle.css') }}"/>
	<!-- Google FONTS API and jQuery API -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Jquery UI !-->
	<link href='/static/js/jquery-ui-1.12.0.custom/jquery-ui.css' rel='stylesheet' type='text/css'>
	<script src="/static/js/jquery-ui-1.12.0.custom/jquery-ui.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<img width="300" src="/static/sigma-logo.svg" alt="Sigma" title="Sigma" />
	{% block body %}

		<h2>Good day, {{ session['user'] }}!</h2>
		<a href="/inputurl"><h2>Input</h2></a>
		<a href="/maps"><h2>Maps</h2></a>
		<a href="/logout"><h2>Logout</h2></a>

	{% endblock %}
</body>
</html>