<!--  input.html -->


{% extends "base.html" %}
{% block main %}
	<div class="inputs">

	<form action="/posturl" method="post">

		<input class="iurl" name="iUrl" placeholder="url here"type="text" onkeyup="getTitle(this.value)"/>

		<label for="label_top">Overordnet tema</label>
		<input name="label_top" type="text" />
		<label for="label_sub">Undertema</label>
		<input name="label_sub" type="text" />

	<button type="submit">Submit</button>

	</form>
	</div>


	<script type="text/javascript">

	var title;
	var old_url;
	
	var main_style = {
	 'display':'flex', 
	'justify-content': 'space-around',
	'flex' : '0 1 800px',
	'min-height' : '500px'
	}

	var $livetitle = $('#livetitle');
	var $main = $('main');
	$main.css(main_style);

	function getTitle(url){

		if (url != old_url){
		old_url = url;
		console.log(url);
		$.post('/fetchtitle', { 'iUrl': url}, function(data){

			title = data.title;

			console.log('Title:' + title, 'type: ' + typeof title);

			$livetitle.html(title);

		});
		}
	};


	</script>
{% endblock %}



