<!--  input.html -->

{% extends "base.html" %}
{% block body %}

	<div class="maindiv">
		<input class="megainput urlinput" type="text" placeholder="url __" onfocus="onfocusHandler(this)" onblur="onblurHandler(this)" onkeyup="getMeta(this.value)"/>

		<div class="metainfo">	
			<div class="kolonne1">
				<div style="display:flex;">
					<div id="domain"></div> 
					<img id="favicon" width="25px" height="25px" src="#"/>
				</div>
				<div id="description"></div>
			</div>
			<div class="kolonne2">
				<div id="topics"></div>
				<div id="top"><input type="text" placeholder="Main-topic"/></div>
				<div id="sub"><input type="text" placeholder="Sub-topic"/></div>
			</div>
			<img class="plusicon" width="100px" height="100px" src="static/plus-icon.png" onclick="postUrl()"/>
		</div>


	<div class="maindiv">
		<input class="megainput searchinput" type="text" placeholder="search __" onfocus="onfocusHandler(this)" onblur="onblurHandler(this)" onkeyup="search(this.value)"/>

		<table class="tableview">
			<thead>
				<th></th>
				<th></th>
				<th></th>
			</thead>
			<tbody>
					
			</tbody>
		</table> 
	</div>



<script type="text/javascript">

	/* Initiating a global APP-object. This object is supposed to hold
	  all variables that otherwise would be global.
	  By doing it like this we end having just 1 global variable named
	   MYAPP. And all other variables are MYAPP.somevariable. 
	   GLOBAL variables are evil, thats why we do it. - Jonas */

	APP = {
		$urlinput : $('.urlinput'),
		$searchinput : $('.searchinput'),
		$metainfo : $('.metainfo'),
		$tbody : $('.tableview tbody'),
		old_url : '',
		old_title : '',
		old_favicon : '',
		meta : '',
		links : {}
	};

	function onblurHandler(element){
		var $ele = $(element);

		if ($ele.hasClass('urlinput')){
			$ele.attr('placeholder', 'url __');
			$ele.val(APP.old_title);
		} else {
			$ele.attr('placeholder', 'search __');
		};
	};

	function onfocusHandler(element){
		var $ele = $(element);

		$ele.attr('placeholder', '');
		if ($ele.hasClass('urlinput')){
			$ele.val(APP.old_url);
		} else {
			$ele.val('');
		};
	};

	function constructTable(){
		var thtml;
		var links = APP.links;

		var i = 0;
		for (var link in links){
			console.log(links[link]);
			thtml = '<tr>'+
						'<td><img width="40px" height="40px" src="'+links[link]['favicon']+'"/></td>'+
						'<td>'+links[link]['title']+'</td>'+
						'<td><a id="link'+i+'" class="linkholder" href="#"><img width="25px" height="25px" src="static/external_link.png"/></a></td>'+
					'</tr>';
			APP.$tbody.append(thtml);
			$('#link'+i).attr('href', links[link]['url']);
			i ++;
		};
		return 0;
	}

	function resetInput(){
		APP.old_title = '';
		APP.old_url = '';
		APP.$urlinput.val('');
		APP.$metainfo.hide();
		APP.$tbody.html('');
	};

	// --- AJAX request functions ---

	function postUrl(){
		// Debug
		//console.log('Url:' + APP.old_url+'Meta:'+ JSON.stringify(APP.meta));
		json_data = {
			 'url' : APP.old_url, 
			 'meta' : APP.meta 
		};

		$.ajax('/postmeta', {
				data : JSON.stringify(json_data),
    			contentType : 'application/json',
    			type : 'POST',
    			success: function(data){ 
    				console.log(data.status);
    				APP.links = data.links;
    				resetInput();
    				constructTable();
    				
    			},
				error : function(xhr){ console.log(xhr.status);}
				});
	};

	function getMeta(iurl){
		var title;

		APP.$urlinput.blur();

		// Reset page if url is empty
		if (iurl === ''){
			resetInput();
			return 0;
		};

		if (iurl != APP.old_url ){
			APP.old_url = iurl;
			console.log(iurl);
			$.post('/fetchmeta', { 'url': iurl}, 

				function(data){
					var meta = data.meta;
					console.log('Title:' + meta.title, 'type: ' + typeof meta.title);
					
					// SHOW metadata
					APP.$urlinput.val(meta.title);
					$('#favicon').attr('src', meta.favicon);
					$('#domain').html(meta.domain);
					$('#description').html('Description:' + meta.description);
					$('#topics').html('<div>'+meta.main_topic+'</div><div>topic2</div><div>topic3</div>');
					APP.$metainfo.show();

					// CACHE data for later
					APP.old_title = meta.title;
					APP.old_favicon = meta.favicon;
					APP.meta = meta;
				}
			);
		};
	};

	function search(istring) {

		console.log(istring);
		return 0;
	};

	$(document).ready(function(){

		APP.$metainfo.hide();

		$.get('/fetchlinks', function(data){
			console.log('Status:' + data.status)
			APP.links = data.links;
			constructTable();
		});

		/* setInterval function that executes every second, 
		    tp create a blinking animation.
		    PS: I disabled this for now, because it didnt
		        look that good.
		        
		var blinker = true;
		setInterval(function(){

			if (blinker){
				MYAPP.$urlinput.attr('placeholder', 'url')
				blinker = false;
			} else {
				MYAPP.$urlinput.attr('placeholder', 'url __')
				blinker = true;
			};
		}, 1000);
		*/

	});

</script>
{% endblock %}



