
{% extends "base.html" %}
{% block main %}
<!-- Css added to sigmastyle, at bottom !-->
	
	<div class="maindiv">
	<p> {{ map.description }} </p>

	<h1> {{ map.main_topic }}</h1>
	<ol class="sub-topics-list"> 
	{% for label, subtopic  in map.subtopics.items() %}
		<li class="sub-topic">
			<h2>{{ label }}</h2>  <!-- repr !-->
			<ol>
				{% for link in subtopic.urls %}
				<li>
					<a href="{{ link }}"> {{link}} </a>
				</li>
				{% endfor %}
			</ol>
		</li>

	{% endfor %}
	</ol>
	</div>

	<nav style="display: flex; margin: 30px;">
		<a href="/maps"><button>Back</button></a>
	</nav>
	
	{% include 'share-map.html' %}



{% endblock %}