
{% extends "base.html" %}
{% block body %}
<!-- Css added to sigmastyle, at bottom !-->
	
	<div class="maindiv">
	<p> {{ map.description }} </p>

	<h1> {{ map.main_topic }}</h1>
	<ol class="sub-topics-list"> 
	{% for subtopic in map.subtopics.keys() %}
		<li class="sub-topic">
			<h2>{{ subtopic }}</h2>  <!-- repr !-->
			<ol>
				{% for link in map.subtopics[subtopic] %}
				<li>
					{{ link }}
				{% endfor %}
			</ol>
		</li>

	{% endfor %}
	</ol>
	</div>

	<nav style="display: flex; margin: 30px;">
		<a href="/maps"><button>Tilbake</button></a>
	</nav>
	

{% endblock %}