<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<title>Sigma - Svg test</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<!-- For using the sigma api !-->
<script src="/static/js/sigma.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/CONFIG.js" type="text/javascript" charset="utf-8"></script>
<!--Local files -->
<script src="/static/js/jonaslib.js" type="text/javascript" charset="utf-8"></script>

<!-- Jquery UI  was built with Le Frog as theme. Might be ... a decision to be changed later. !-->
<link href='/static/js/jquery-ui-1.12.0.custom/jquery-ui.css' rel='stylesheet' type='text/css'>
<script src="/static/js/jquery-ui-1.12.0.custom/jquery-ui.js" type="text/javascript" charset="utf-8"></script>

<style>
  
    html, body {background-color: #f9f9f9;
                    font-family: sans-serif; }

    #topnav {
        display:flex; justify-content: center;
        flex-wrap: wrap;
    }
    #topnav button {
        font-size: 16px;
        flex: 0 1 120px;
    }

    .node{
        fill: black;
    }


/* Widescreen transparent overlay */
    #url-overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #4e4e4e transparent;
        background-color: rgba(88,88,88,0.6); 
    }
    .middle {margin: 0 auto;
             text-align: center;}
    .vertical-center { margin-top: 35%;}
    .hide{display: none;}
    #close-btn {
        color: #FFF;
        font-size: 3em;
        float: right;
        margin: 1em;
    }
</style>


</head>
<body>
    <nav id="topnav" style="display:flex; justify-content: center"></nav>

    <svg        id="s" 
                xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink="http://www.w3.org/1999/xlink">

    <div id="url-overlay" class="hide">
        <a href="#" onclick="close_overlay();"><div id="close-btn">Close</div></a>
        <!--
            Overlay stuff in here
        -->
        <div class="middle vertical-center">
            
            {% include('input-meta.html') %}

        </div>
    </div>


    </svg>
</body>

<script type="text/javascript">
        
$(document).ready(function(){
    APP = {
        names: [],
        links: null,
        searchdata: null,
        selected_node: null,

        // from inputmeta
        $urlinput : $('.urlinput'),
        $metainfo : $('.metainfo'),
        $tbody : $('.tableview tbody'),
        $maintop : $('.maintopic'),
        $subtop : $('.subtopic'),
        old_url : '',
        old_title : '',
        old_favicon : '',
        meta : ''
    };

    // GLOBALS
    var ww;
    var wh;
    var current_topic = '{{ first_map | safe }}';
    var current_map_object;
    var s;
    s = document.getElementById('s'); // SVG object


    // MISC functions
     function updateWwWh(){
        ww = window.innerWidth; 
        wh = window.innerHeight;
        // console.log('Width: ' + ww + ' Height: ' + wh);
    }
    

    function makeSVG(tag, attrs) {
        var el = document.createElementNS('http://www.w3.org/2000/svg', tag);
        for (var k in attrs)
            el.setAttribute(k, attrs[k]);
        return el; 
    }

    function findNodeCoords(bx,by,rx,ry,length){
        // Create coordinates of all sub nodes
        // input bx, by -- basex, basey
        var step = (2 * Math.PI) / length;

        var alpha = Math.random() * (2 * Math.PI);    // Use this to make view more random
        //var alpha = (2 * Math.PI);                      // Use this to make view static

        var nx = 0; // new x
        var ny = 0;
        var coords = [];

        //console.log('Length : ' + length);

        for (i=0; i < length; i++){

            nx = parseInt(bx + (rx * Math.cos(alpha)));
            ny = parseInt(by - (ry * Math.sin(alpha)));

            //console.log('Nx: ' + nx + ' Ny: ' + ny + ' alhpa : ' + alpha )

            var pair = [nx, ny];
            coords.push(pair);

            alpha += step;
        };
        return coords;
    };

// - THIS SUBROUTINE IS ALMOST IDENTICAL TO THE ONE ABOVE;
// - THEY SHOULD BE MERGES SOMEHOW

    function test_findNodeCoords(bx,by,rx,ry,length){
        // Create coordinates of all sub nodes
        // input bx, by -- basex, basey
        var step = (Math.PI) / length * 1.25;

        //var alpha = Math.random() * (2 * Math.PI);    // Use this to make view more random
        var alpha = Math.PI/2;                      // Use this to make view static

        var nx = 0; // new x
        var ny = 0;
        var coords = [];

        //console.log('Length : ' + length);

        for (i=0; i < length; i++){

            nx = parseInt(bx + (rx * Math.cos(alpha)));
            ny = parseInt(by - (ry * Math.sin(alpha)));

            //console.log('Nx: ' + nx + ' Ny: ' + ny + ' alhpa : ' + alpha )

            var pair = [nx, ny];
            coords.push(pair);

            alpha -= step;
        };
        return coords;
    };


    // --------------------- INIT function -------------------------

    function initSVG(map){

        // Log incomming data
        console.log(map);

        // Update world width and height
        updateWwWh();

        // Variables 23
        var mnx;           // x and y value of the main node
        var mny;           // 

        var sx;            // x and y value of a sub node
        var sy;            //
        var ux;            // x and y value of a url node
        var uy;            // 
        var sub_coords = []; // 1d array of xy pairs [[x1,y1], n..]
        var url_coords = []; // 2d array of xy pairs [[[x1,y1]], n..]

        var mainnode;
        var sub_nodes = [];  // 1d array of sub_node elements
        var url_nodes = {};  // dict of 1d arrays  url_nodes[subtopic] = []

        var subkeys_array;  // Array of key names =['subtopic1', n..]
        var urlkeys_array;  //                   = ['url1', n..]
        var subarr_length;  // int lenght of array
        var urlarr_length;  // int Represents number of nodes
        var subkey;         // Single key name = 'subtopic'
        var urlkey;         //                 = 'url'

        var maintextNode;
        var subtextNode;
        var urltextNode;
        var redline;
        var blueline;

        var subrad = [ww * (CONF.subradx), wh * (CONF.subrady)];     // radius x and y from main_node
        var urlrad = [ww * (CONF.urlradx), ww * (CONF.urlrady)];         // radiues x and y from sub_node
        
        // Clear SVG screen of existing elements
        while (s.lastChild) {
            s.removeChild(s.lastChild);
        };

        // SET SVG width and height
        s.setAttribute('width', ww);
        s.setAttribute('height', wh);

        // Make main node
        main_node = makeSVG('circle', {id: 'main_node', 
                                       cx: ww/2, 
                                       cy: wh/2, 
                                        r: CONF.main_size,
                                    class: 'node',
                                    style: CONF.main_color,
                             onmouseover : "blowUp(evt)",
                              onmouseout : "smashDown(evt)",
                              onclick: "addLink('"+current_topic +"', null, this)"  });

        // Get x and y of main nodes
        mnx = parseInt(main_node.getAttribute('cx'));
        mny = parseInt(main_node.getAttribute('cy'));

        // Display text at the main_node
        maintextNode = makeSVG('text', {x:mnx-50, y:mny-20, style: 'fill: '+CONF.main_color_text+'; font-size: '+CONF.main_size_text+';'})
        maintextNode.appendChild(document.createTextNode(current_topic));
        s.appendChild(maintextNode);

        // Isolate subtopics, calculate amount of subtopics
        subkeys_array = Object.keys(map.subtopics);
        subarr_length = subkeys_array.length;

        // Calculate coordinates for all sub nodes
        sub_coords = findNodeCoords(mnx, mny, subrad[0], subrad[1], subarr_length);

        // Iterate over sub nodes
        for (var i=0; i < subarr_length; i++){

            // Subkey init
            subkey = subkeys_array[i];
            sx = sub_coords[i][0];
            sy = sub_coords[i][1];

            // Create Sub node DOM objects
            // Make red lines and append main_node on top
            redline = makeSVG('line', { x1:mnx, y1:mny, x2:sx, y2:sy, style: CONF.line_color});
            s.appendChild(redline);
            s.appendChild(main_node);
 

            // Make red nodes
            sub_nodes[i] = makeSVG('circle', {cx: sx, 
                                              cy: sy, 
                                               r: CONF.sub_size, 
                                           style: CONF.sub_color,
                                           class: 'node',
                                    onmouseover : "blowUp(evt)",
                                     onmouseout : "smashDown(evt)",
                                     onclick: "addLink('"+current_topic +"', '"+subkey+"', this)"  });

            

            // subtopic text node
            subtextNode = makeSVG('text', {x:sx-30, y:sy-15, style: 'fill: '+CONF.sub_color_text+'; font-size: '+CONF.sub_size_text+';'})
            subtextNode.appendChild(document.createTextNode(subkey));
            s.appendChild(subtextNode);

            //---------------------------------------

            // Prepare url node coords
            urlkeys_array = Object.keys(map.subtopics[subkey]['urls']);
            urlarr_length = urlkeys_array.length;

            url_coords[i] = test_findNodeCoords(sx, sy, urlrad[0], urlrad[1], urlarr_length);

            for (var j=0; j < urlarr_length; j++){

                // Url init
                url_nodes.subkey = [];
                urlkey = urlkeys_array[j];
                ux = url_coords[i][j][0];
                uy = url_coords[i][j][1];

                // Make blue lines
                // Append sub-node on top of lines
                blueline = makeSVG('line', { x1 : sx, 
                                             y1 : sy, 
                                             x2 : ux, 
                                             y2 : uy,
                                          style : CONF.line_color });
                s.appendChild(blueline);
                s.appendChild(sub_nodes[i]);


                // Make url nodes
                url_nodes.subkey[j] = makeSVG('circle', {
                                                    id : urlkey,
                                                    cx : ux, 
                                                    cy : uy, 
                                                     r : CONF.url_size, 
                                                  style: CONF.url_color,
                                           onmouseover : "blowUp(evt)",
                                            onmouseout : "smashDown(evt)"   });
                s.appendChild(url_nodes.subkey[j]);


                // make g
                gNode = makeSVG('g', {});

                // make favicon element
                favNode = makeSVG('image', {
                                        x: ux+10,
                                        y: uy-20, 
                                        height: '30px',
                                        width: '30px'  });
                // make link node
                aNode = makeSVG('a', {  
                                        x: ux+10, 
                                        y: uy,
                                   target: '_blank', 
                                                     }); // http://www.w3schools.com/tags/att_a_target.asp
            
                // See https://www.w3.org/Graphics/SVG/WG/wiki/Href#xlink:href
                favNode.setAttributeNS("http://www.w3.org/1999/xlink", 'href', APP.links[urlkey].favicon)
                aNode.setAttributeNS("http://www.w3.org/1999/xlink", 'href', urlkey)

                // Make url text node to put in the a-element.
                urltextNode = makeSVG('text', {
                                               id: urlkey + 'sub',
                                                x: ux+42, 
                                                y: uy,
                                            style: 'fill: '+CONF.url_color_text+'; font-size: '+CONF.url_size_text+';',
                                     onmouseover : "blowUpUrl(evt)",
                                      onmouseout : "smashDownUrl(evt)" })


                urltextNode.appendChild(document.createTextNode(APP.links[urlkey]['title']));

                aNode.appendChild(urltextNode)
                gNode.appendChild(favNode);
                gNode.appendChild(aNode);
                s.appendChild(gNode);

            };
        };
        

    // ----------------------- End of function initSVG()  ---------------------
    };

    // Fill the navigation with maps
    function initNav (names){

        var $topnav = $('#topnav');
        for (i in names){
            $topnav.append('<button id="button_'+i+'" class="menubutton">'+
                            names[i]+
                            '</button>');
        };
        $topnav.append('<button onclick="document.location = \'/meny\'"><a href="/meny">Back</a></button>');

        $('.menubutton').click(function(){
            
            $this = $(this);  
            // Saving a index instead of map-id in 
            // things. resolving map-id from mapindex.
            var mapindex = this.id.split('_')[1];
            newMap(APP.names[mapindex]);
            console.log(APP.names)

        });
        
    };
 
// ----------- AJAX request routes --------------

    sigma.mapnames(function(data){
        APP.names = data.names;
        initNav(data.names);
    });

    
    function newMap(new_topic){
        /* removed initState from this function,
        should ideally separate IO and rendering logic
        completely.
        */
        console.log("newMap: "+new_topic);
        current_topic = new_topic;
 
        sigma.getmap(new_topic, function(data){
            console.log(data.status);
            current_map_object = data.map;
            initSVG(data.map);
        });
        
    };


    
    
    
    // ---------- Main init -------------- //

    /*
        Draw map
    */
    refresh_and_draw_map();
    
    INPUTMETA.onLinkPosted = function(data) {
        refresh_and_draw_map();
        close_overlay();
    }
    


function refresh_and_draw_map() {
    
        INPUTMETA.load_tags();

        sigma.fetchsearchdata(
            function(data){
                console.log("loaded LINKS and SEARCHDATA");
                APP.links = data.linksdata;
                APP.searchdata = data.searchdata;
                console.log(data.links);

                // Finally, drawing this mappy.
                newMap(current_topic);
            });
}


});




</script>

<script type="text/javascript">

/* Handle SVG events */
    function _fontsize(fs) {
        // apparently string "merging" is different with the + and
        // concat().  Had to use concat to not get css error:
        //"error in value for font-size declaration."
        var base = "font-size: "
        return base.concat(fs).concat(";");
    }

    function blowUpUrl(evt){
        evt.target.setAttribute("style", _fontsize(CONF.blowUp_font_size));
        // above line resets all other css attributes. 
        // rebuilding fill manualy, for now.
        $(evt.target).css({"fill": CONF.url_color_text});
    }

    function smashDownUrl(evt){
        evt.target.setAttribute("style", _fontsize(CONF.smashDown_font_size));
        $(evt.target).css("fill", CONF.url_color_text);
    }


    function blowUp(evt){
        var r = evt.target.getAttribute("r");
        evt.target.setAttribute("r", r*2);

    }

    function smashDown(evt){
        var r = evt.target.getAttribute("r");
        evt.target.setAttribute("r", r / 2);
    }


    function addLink(mapid, topic, node) {
        /*  Opens url-overlay for user to add link  */
        $("#url-overlay").show();
        APP.selected_node = $(node);
        $(node).css('fill',  CONF.hilight_color);

        // prefilling main topic
        APP.$maintop.val(mapid);

        if (topic !== null) {
            // pre-filling sub topic  
            APP.$subtop.val(topic);    
        }
    }


    function close_overlay() {
        /* Closes url overlay. Also removes highlights */
        $('#url-overlay').hide();
        APP.selected_node.css('fill', CONF.sub_fillcolor);
        APP.selected_node = null;
    }

    /*
        Close overlay on escape key.
    */
    $(document).keyup(function(e) {
        if (e.keyCode == 27) {  // esc
            close_overlay(); 
        }   
    });
    
</script>

</html>

<script id="comments" type="text/javascript">
    

/*
3. DOM createTextNode . .. then appendChild::: Jiipppi! :) 

2. Its seems that javascript can access SVG elements the same way as any other element.

1. This link thought me how to use javascript in SVG - http://stackoverflow.com/questions/3642035/jquerys-append-not-working-with-svg-element

links: 
http://www.w3schools.com/svg/svg_circle.asp
http://www.w3schools.com/jsref/met_document_createtextnode.asp

*/

 </script>