<!-- 	share-map.html !-->



	<input id="share-with-users" class="shareinput" type="text" name="users" value="" placeholder="Share with...">
	<input type="button" name="" value="Share Map" onclick="share('{{ mapid }}')">



<script  type="text/javascript" charset="utf-8" async defer>
	$(document).ready(function(){
		$.ajax({
			url: '/users',
			type: 'get',
			success: function (data) {
				
				$(".shareinput").autocomplete({
					source: data.users
				});
			}
		});
	});


	function share(mapid) {
		users = $('#share-with-users').val().split(" ");
		var data = {
			map_id: mapid,
			users: users
		};

		$.ajax({
			url: '/share',
			type: 'post',
			data: JSON.stringify(data),
			contentType: "application/json; charset=utf-8",
    		dataType: "json",
			success: function (data) {
				console.log(data.status)
			}
		});
	};

</script>